PROMTAIL_VERSION=latest
LOKI_URL=https://loki.mydomain.com
PROMETHEUS_URL=https://prometheus.mydomain.com
INSTANCE=dev
LOKIUSER=usernamebasicauth
LOKIPASS=pwbasicauth
HOST_LOG_FOLDER=/home/ubuntu/logs
APP_NAME=cryptorun